{# De kop van elke openbare pagina (30 september). Zie _k_stijl.html. #}
<header class="k-kop">
  <div class="k-binnen">
    <a class="k-merk" href="/" aria-label="Krillo home"><b>KRILLO</b><i>INDEX</i></a>
    <nav class="k-links" aria-label="Main">
      <a href="/index">The Index</a>
      <a href="/demo">Product</a>
      <a href="/#pricing">Pricing</a>
      <a href="/tools">Free tools</a>
      <a href="/partners">Partners</a>
    </nav>
    <div class="k-rechts">
      <a class="k-knop wit k-inlog" href="/login">Log in</a>
      <a class="k-knop blauw" href="/?plan=watch#pricing">Start free trial</a>
    </div>
  </div>
</header>
